.calc > div {
    display: flex;
    justify-content: center;

    margin: 15px;
    padding: 15px;

    border: 2px solid darkred;
}

.calc > div > input{
    padding: 10px 3px;
    border: 1px solid darkred;
    border-radius: 5px;
}

.calc > div > button {
    margin: 0 5px;
    background-color: whitesmoke;
    color: darkred;
    border: 1px solid darkred;
    padding: 0 15px;
    cursor: pointer;
}

.calc > div > button:hover {
    background-color: darkred;
    color: whitesmoke;
}

.calc > div:nth-child(2){
    background-color: darkred;
    width: 35%;
    margin: auto;
    color: whitesmoke;
    font-weight: bold;
}