<div class="links">
    <button routerLink="/chapter" routerLinkActive="active">Chapter</button>
    <button routerLink="/increment" routerLinkActive="active">Increment</button>
    <button routerLink="/counter" routerLinkActive="active">Counter</button>
    <button routerLink="/timer" routerLinkActive="active">Timer</button>
    <button routerLink="/cardname" routerLinkActive="active">Card Name</button>
    <button routerLink="/message" routerLinkActive="active">Message</button>
    <button routerLink="/child" routerLinkActive="active">Child</button>
</div>
<div>
    <!--<router-outlet></router-outlet>-->
</div>