<div class="wrapper">
    <h1>
        <span>Lesson Angular2</span>
    </h1>
    <h3>
        <button (click)="selectLesson('Components')" [class.active]="_selectLesson == 'Components'">Components</button>
        <button (click)="selectLesson('Directives')" [class.active]="_selectLesson == 'Directives'">Directives</button>
    </h3>

    <div *ngIf="_selectLesson == 'Directives'">
        <header-directive></header-directive>
    </div>
    <div *ngIf="_selectLesson == 'Components'">
        <header-component></header-component>
    </div>
</div>
